@import "variables";

.bg-dark-blue {
  background-color: $dark-blue-color!important;
}

.bg-light-blue {
  background-color: $light-blue-color!important;
}

.bg-turquoise {
  background-color: $light-turquoise-color!important;
}

.bg-purple {
  background-color: $light-purple-color!important;
}

.bg-green {
  background-color: $light-green-color!important;
}

.bg-yellow {
  background-color: $light-yellow-color!important;
}

.bg-light-red {
  background-color: $red-color!important;
}

.bg-blue {
  background-color: $blue-color!important;
}

.bg-gray {
  background-color: $gray-color!important;
}

.bg-light-gray {
  background-color: $light-gray-color!important;
}
