$font-family-primary: 'HelveticaHeavy', sans-serif;
$font-family-secondary: 'HelveticaLight', sans-serif;

$white-color: #ffffff;
$light-purple-color: #faefed;
$orange-color: #fb7454;
$red-color: #ff2959;
$light-turquoise-color: #dcfcfb;
$dark-turquoise-color: #14ccc0;
$light-blue-color: #e4ebf6;
$blue-color: #00aeef;
$dark-blue-color: #2a2f4d;
$light-green-color: #e1ffc7;
$dark-green-color: #58794c;
$light-yellow-color: #fffcd9;
$dark-yellow-color: #efc869;
$black-color: #3d3d3b;
$light-gray-color: #939598;
$gray-color: #58595b;

$xss-screen: 320px;
$xs-screen: 375px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

$font-size-xs: 10px;
$font-size-sm: 14px;
$font-size-md: 22px;
$font-size-lg: 26px;

